<div class="row">
  <div class="col-xs-12">
    <p [appBetterHighlight]="'orange'" defaultColor="yellow">
      Add new Servers or blueprints!
    </p>
    <p *appUnless="show">I'm the author</p>
    <div [ngSwitch]="age">
      <p *ngSwitchCase="10">age is 10</p>
      <p *ngSwitchCase="20">age is 20</p>
      <p *ngSwitchCase="30">age is 30</p>
      <p *ngSwitchDefault>age is 40</p>
    </div>
    <label>Server Name</label>
    <!-- <input type="text" class="form-control" [(ngModel)]="newServerName" /> -->
    <input type="text" class="form-control" #serverNameInput />
    <label>Server Content</label>
    <!-- <input type="text" class="form-control" [(ngModel)]="newServerContent" /> -->
    <input type="text" class="form-control" #serverContentInput />
    <br />
    <button class="btn btn-primary" (click)="onAddServer(serverNameInput)">
      Add Server
    </button>
    |
    <button class="btn btn-primary" (click)="onAddBlueprint(serverNameInput)">
      Add Server Blueprint
    </button>
  </div>
</div>
